# intermediate build files
*.bgn
*.bit
*.bld
*.cmd_log
*.drc
*.ll
*.lso
*.msd
*.msk
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.rbb
*.rbd
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*_bitgen.xwbt
*_map.map
*_map.mrp
*_map.ngm
*_map.xrpt
*_ngdbuild.xrpt
*_pad.csv
*_pad.txt
*_par.xrpt
*_summary.xml
*_usage.xml
*_xst.xrpt

# work folder 
src/*.html
src/Adder/*.html
src/Bounded_Counter/*.html
src/Conventional_Encoder/*.html
src/Counter/*.html
src/Mux/*.html
src/P2S/*.html
src/PRS/*.html
src/Scrambler/*.html
src/Up_Down/*.html
src/clk_diff/*.html
src/diff_en/*.html
work/*
