NET "a[4]" IOSTANDARD = LVCMOS18;
NET "a[3]" IOSTANDARD = LVCMOS18;
NET "a[2]" IOSTANDARD = LVCMOS18;
NET "a[1]" IOSTANDARD = LVCMOS18;
NET "a[0]" IOSTANDARD = LVCMOS18;
NET "b[4]" IOSTANDARD = LVCMOS15;
NET "b[3]" IOSTANDARD = LVCMOS15;
NET "b[2]" IOSTANDARD = LVCMOS15;
NET "b[1]" IOSTANDARD = LVCMOS15;
NET "b[0]" IOSTANDARD = LVCMOS15;
NET "output[5]" IOSTANDARD = LVCMOS12;
NET "output[5]" DRIVE = 12;
NET "output[5]" SLEW = SLOW;
NET "output[4]" IOSTANDARD = LVCMOS12;
NET "output[4]" DRIVE = 12;
NET "output[4]" SLEW = SLOW;
NET "output[3]" IOSTANDARD = LVCMOS12;
NET "output[3]" DRIVE = 12;
NET "output[3]" SLEW = SLOW;
NET "output[2]" IOSTANDARD = LVCMOS12;
NET "output[2]" DRIVE = 12;
NET "output[2]" SLEW = SLOW;
NET "output[1]" IOSTANDARD = LVCMOS12;
NET "output[1]" DRIVE = 12;
NET "output[1]" SLEW = SLOW;
NET "output[0]" IOSTANDARD = LVCMOS12;
NET "output[0]" DRIVE = 12;
NET "output[0]" SLEW = SLOW;
NET "clk" IOSTANDARD = HSTL_I;
NET "clk_en" IOSTANDARD = HSTL_II;
NET "rst" IOSTANDARD = HSUL_12;
