NET "clk"   LOC = "E3"	| IOSTANDARD = "LVCMOS33";
NET "rst"   LOC = "J15"	| IOSTANDARD = "LVCMOS33";
NET "clk_en"   LOC = "L16"	| IOSTANDARD = "LVCMOS33";
NET "input"   LOC = "M13"	| IOSTANDARD = "LVCMOS33";
NET "out_I"   LOC = "A8"	| IOSTANDARD = "LVCMOS33";
NET "out_Q"   LOC = "A9"	| IOSTANDARD = "LVCMOS33";